Source: gnome-mic-control
Section: graphics
Priority: extra
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Pasha Klets <pasha@klets.name>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), cdbs
Homepage: http://launchpad.net/gnome-mic-control

Package: gnome-mic-control
Depends: python, ${misc:Depends}
Architecture: any
Description: Gnome mic control.
	Simple gnome-panel applet for indicate status and toggle mic.
